<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="ML">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.m4rc310.ml.base/css/ml.css">
         </property>
         <property
               name="appName"
               value="ML">
         </property>
      </product>
   </extension>

</plugin>
